In [14]:
#Imports

import MetaTrader5 as mt5
from datetime import datetime
import pandas as pd

In [2]:
# Inicializando Conexao

mt5.initialize()

True

In [4]:
# Informacoes do Terminal

mt5.terminal_info()

TerminalInfo(community_account=True, community_connection=True, connected=True, dlls_allowed=False, trade_allowed=False, tradeapi_disabled=False, email_enabled=False, ftp_enabled=False, notifications_enabled=False, mqid=False, build=3521, maxbars=100000, codepage=0, ping_last=195773, community_balance=0.0, retransmission=32.39664557893188, company='MetaQuotes Software Corp.', name='MetaTrader 5', language='English', path='C:\\Program Files\\MetaTrader 5', data_path='C:\\Users\\della\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075', commondata_path='C:\\Users\\della\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common')

In [5]:
# Criando Variavel do Terminal

terminal = mt5.terminal_info()

In [6]:
terminal.community_connection

True

In [7]:
# Transformando Variavel Terminal em Dicionario.

terminal = terminal._asdict()

In [8]:
terminal

{'community_account': True,
 'community_connection': True,
 'connected': True,
 'dlls_allowed': False,
 'trade_allowed': False,
 'tradeapi_disabled': False,
 'email_enabled': False,
 'ftp_enabled': False,
 'notifications_enabled': False,
 'mqid': False,
 'build': 3521,
 'maxbars': 100000,
 'codepage': 0,
 'ping_last': 195773,
 'community_balance': 0.0,
 'retransmission': 32.39664557893188,
 'company': 'MetaQuotes Software Corp.',
 'name': 'MetaTrader 5',
 'language': 'English',
 'path': 'C:\\Program Files\\MetaTrader 5',
 'data_path': 'C:\\Users\\della\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075',
 'commondata_path': 'C:\\Users\\della\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common'}

In [9]:
type(terminal)

dict

In [10]:
for k in terminal.keys():
    print(k," -> ", terminal[k])

community_account  ->  True
community_connection  ->  True
connected  ->  True
dlls_allowed  ->  False
trade_allowed  ->  False
tradeapi_disabled  ->  False
email_enabled  ->  False
ftp_enabled  ->  False
notifications_enabled  ->  False
mqid  ->  False
build  ->  3521
maxbars  ->  100000
codepage  ->  0
ping_last  ->  195773
community_balance  ->  0.0
retransmission  ->  32.39664557893188
company  ->  MetaQuotes Software Corp.
name  ->  MetaTrader 5
language  ->  English
path  ->  C:\Program Files\MetaTrader 5
data_path  ->  C:\Users\della\AppData\Roaming\MetaQuotes\Terminal\D0E8209F77C8CF37AD8BF550E51FF075
commondata_path  ->  C:\Users\della\AppData\Roaming\MetaQuotes\Terminal\Common

In [12]:
# Coletando Dados de Precos

ativo = "EURUSD"

date = datetime(2021,1,2)

flag = mt5.COPY_TICKS_ALL

dados = mt5.copy_ticks_from(ativo, date, 10, flag)

In [13]:
dados

array([(1609718515, 1.22395, 1.22455, 0., 0, 1609718515460, 134, 0.),
       (1609718520, 1.22393, 1.22445, 0., 0, 1609718520190, 134, 0.),
       (1609718530, 1.22394, 1.22445, 0., 0, 1609718530442, 130, 0.),
       (1609718551, 1.22394, 1.22435, 0., 0, 1609718551940,   4, 0.),
       (1609718556, 1.22396, 1.22434, 0., 0, 1609718556444, 134, 0.),
       (1609718574, 1.22373, 1.22435, 0., 0, 1609718574451, 134, 0.),
       (1609718580, 1.22374, 1.22435, 0., 0, 1609718580450, 130, 0.),
       (1609718594, 1.22366, 1.22435, 0., 0, 1609718594112, 130, 0.),
       (1609718613, 1.22366, 1.22443, 0., 0, 1609718613432,   4, 0.),
       (1609718614, 1.22366, 1.22435, 0., 0, 1609718614178,   4, 0.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [17]:
# Transformando de Array para DataFrame com a biblioteca Pandas

df = pd.DataFrame(dados)

In [18]:
df

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,1609718515,1.22395,1.22455,0.0,0,1609718515460,134,0.0
1,1609718520,1.22393,1.22445,0.0,0,1609718520190,134,0.0
2,1609718530,1.22394,1.22445,0.0,0,1609718530442,130,0.0
3,1609718551,1.22394,1.22435,0.0,0,1609718551940,4,0.0
4,1609718556,1.22396,1.22434,0.0,0,1609718556444,134,0.0
5,1609718574,1.22373,1.22435,0.0,0,1609718574451,134,0.0
6,1609718580,1.22374,1.22435,0.0,0,1609718580450,130,0.0
7,1609718594,1.22366,1.22435,0.0,0,1609718594112,130,0.0
8,1609718613,1.22366,1.22443,0.0,0,1609718613432,4,0.0
9,1609718614,1.22366,1.22435,0.0,0,1609718614178,4,0.0

In [22]:
#Analise Estatistica

df.describe()

,time,bid,ask,last,volume,time_msc,flags,volume_real
count,1.000000e+01,10.000000,10.000000,10.0,10.0,1.000000e+01,10.000000,10.0
mean,1.609719e+09,1.223817,1.224397,0.0,0.0,1.609719e+12,93.800000,0.0
std,3.632890e+01,0.000137,0.000070,0.0,0.0,3.627016e+04,61.992473,0.0
min,1.609719e+09,1.223660,1.224340,0.0,0.0,1.609719e+12,4.000000,0.0
25%,1.609719e+09,1.223677,1.224350,0.0,0.0,1.609719e+12,35.500000,0.0
50%,1.609719e+09,1.223835,1.224350,0.0,0.0,1.609719e+12,130.000000,0.0
75%,1.609719e+09,1.223940,1.224445,0.0,0.0,1.609719e+12,134.000000,0.0
max,1.609719e+09,1.223960,1.224550,0.0,0.0,1.609719e+12,134.000000,0.0